body {
    font-family: Arial, sans-serif;
    margin top: 0;
    padding: 0;
    background-color: bisque;
    background: url('esports-3.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }

  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 120px;
    background: transparent; 
     backdrop-filter: blur(2.5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 25px;
  }
  
  textarea {
    height: 100px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4caf4c ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: transparent;
  }